.button {
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 10px;
    -fx-cursor: HAND;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.54), 0, 6.8025, 0, 3);
}

.button:hover {
    -fx-background-color: rgba(31, 31, 31, 0.62);
    -fx-background-radius: 10px;
    -fx-cursor: HAND;
}

.button:pressed {
    -fx-background-color: rgba(68, 68, 68, 0.41);
    -fx-background-radius: 10px;
    -fx-cursor: HAND;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 0, 2, 0, 1);
    -fx-translate-y: 2px;
}