.button {
    -fx-background-color:  rgb(61, 189, 49);
    -fx-text-fill: #ffffff;
    -fx-background-radius: 20px;
    -fx-cursor: HAND;
    -fx-effect: dropshadow(gaussian, rgb(32, 101, 30), 0, 6.8025, 0, 3);
}

.button:hover {
    -fx-background-color: rgb(50, 141, 41);
    -fx-background-radius: 20px;
    -fx-cursor: HAND;
}

.button:pressed {
    -fx-background-color: rgb(53, 105, 48);
    -fx-background-radius: 20px;
    -fx-cursor: HAND;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 0, 2, 0, 1);
    -fx-translate-y: 2px;
}

#logoButton {
    -fx-background-color:  transparent;
    -fx-text-fill: #ffffff;
    -fx-cursor: HAND;
    -fx-effect: dropshadow(gaussian, rgb(145, 145, 145), 0, 6.8025, 0, 1);
}

#logoButton:hover {
    -fx-text-fill: #b4b4b4;
    -fx-cursor: HAND;
}

#logoButton:pressed {
    -fx-text-fill: #868686;
    -fx-cursor: HAND;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 0, 2, 0, 0);
    -fx-translate-y: 1px;
}